<div class="main__page-title-container">
    <h2 class="main__page-title">La fiabilité de l'indice de réparabilité remise en question par l'association HOP</h2>
</div>

<section class="main__content article__container">

    <ul class="categories__list">
        <li class="categories__item">
            <a class="category" id="category-8" href="categories/8">
                Object connecté
            </a>
            <div class="category__hover"></div>
        </li> 
        <li class="categories__item">
            <a class="category" id="category-7" href="categories/7">
                Hardware
            </a>
            <div class="category__hover"></div>
        </li> 
    </ul>

    <div class="article__content">Nam placerat malesuada finibus. Vestibulum lacus sem, ultricies sollicitudin nibh ornare, laoreet congue ipsum. Morbi id diam ac lacus vulputate cursus. Aenean eget purus ac nulla consequat ornare. Donec tristique vestibulum arcu eu ultricies. Maecenas a volutpat odio. Morbi ligula nulla, convallis a venenatis sed, dapibus viverra mi. Phasellus gravida quis nibh sit amet tincidunt. Aenean iaculis blandit mollis. Sed pretium libero nunc, in maximus lorem volutpat eu. Ut vel lobortis erat. Cras id ligula imperdiet, placerat augue sit amet, tempor dolor. Sed sit amet purus nibh. Cras odio velit, porttitor vel venenatis vitae, egestas sit amet orci. Nulla quis sagittis elit.
    Integer ac magna nunc. Donec gravida augue nec cursus consectetur. Curabitur dui ante, tincidunt eu efficitur vel, gravida a augue. Phasellus at suscipit enim. Donec volutpat, ante a tempor pellentesque, velit risus bibendum metus, quis finibus enim dolor quis odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam iaculis velit auctor diam tristique, volutpat egestas elit pretium. Sed cursus sapien ut porttitor facilisis. Curabitur sed tortor in tellus tristique euismod. Nulla condimentum accumsan placerat. </div>

    <a href="articles/1/quizz" class="button button--accent">Questionnaire</a>
                    
</section>