<div class="main__page-title-container">
    <h2 class="main__page-title">La fiabilité de l'indice de réparabilité remise en question par l'association HOP</h2>
    <h3>Parmi les éléments ci-après, lequel est une balise orpheline&#8239;?</h3>
</div>

<section class="main__content quizz__container">

    <ul class="choices__list">
        <li class="choices__entry">
            <label class="custom-checkbox custom-checkbox--with-label">
                <input type="checkbox" id="one" name="one" class="" value="one">
                <span class="custom-checkbox--marker"></span>
                <span class="custom-checkbox__label">
                    La réponse une.
                </span>
            </label>
        </li>
        <li class="choices__entry">
            <label class="custom-checkbox custom-checkbox--with-label">
                <input type="checkbox" id="two" name="two" class="" value="two">
                <span class="custom-checkbox--marker"></span>
                <span class="custom-checkbox__label">
                    La réponse deux.
                </span>
            </label>
        </li>
        <li class="choices__entry">
            <label class="custom-checkbox custom-checkbox--with-label">
                <input type="checkbox" id="three" name="three" class="" value="three">
                <span class="custom-checkbox--marker"></span>
                <span class="custom-checkbox__label">
                    La troisième réponse.
                </span>
            </label>
        </li>
        <li class="choices__entry">
            <label class="custom-checkbox custom-checkbox--with-label">
                <input type="checkbox" id="four" name="four" class="" value="four">
                <span class="custom-checkbox--marker"></span>
                <span class="custom-checkbox__label">
                    La réponse D.
                </span>
            </label>
        </li>
    </ul>

    <a href="articles/1" class="button button--accent">Retour à l'article</a>
                    
</section>