<div class="main__page-title-container">
    <h2 class="main__page-title">Catégories</h2>
</div>

<section class="main__content categories__container">
    <ul class="categories__list">

        <% for (const { _id, name } of categories) { %> 
   
            <li class="categories__item">
                <a class="category" id="category-<%= _id %>" href="category/<%= _id %>">
                    <%= name %>
                </a>
                <div class="category__hover"></div>
            </li>  
            
        <% } %> 

    </ul>
                    
</section>