* {
    /* font-family: monospace, monospace; */
    font-size: 1em;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font: normal normal normal 1rem/1.6 Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1rem;
}
  
body {
    color: #4c4c4c;
    background: white;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 1.5rem 0;
    font-weight: 600;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.2;
    color: #4c4c4c;
    &:not(:first-child) {
        margin: 1.5rem 0;
    }
}

h1,
h2,
h3 {
    &:not(:first-child) {
        margin-top: 2rem;
    }
}

h1 { font-size: 1.75rem; }
h2 { font-size: 1.5rem; }  
h3 { font-size: 1.25rem; }  
h4 { font-size: 1.1rem; }  
h5 { font-size: 1rem; }

@media (min-width: 600px) {
    h1, h2, h3 {
        &:not(:first-child) { margin-top: 2.5rem; }
    }
    h1 { font-size: 2.25rem; }
    h2 { font-size: 2rem; }
    h3 { font-size: 1.75rem; }
    h4 { font-size: 1.5rem; }
    h5 { font-size: 1.25rem; }
}

a {
    color: #0366ee;
    text-decoration: none;
    &:hover, &:active, &:focus {
        color: #0246a2;
        text-decoration: underline;
    }
}

img {
    width: auto;
    height: 100%;
}



/*
 *        buttons
 */
.button, a.button, button, [type=submit], [type=reset], [type=button] {
    -webkit-appearance: none;
    display: inline-block;
    border: 1px solid #0366ee;
    border-radius: 4px;
    background: #0366ee;
    color: #ffffff;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    text-transform: none;
    padding: 0.75rem 1.25rem;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    line-height: 1;
    text-transform: lowercase;
    &:hover {
        border: 1px solid #0250bc;
        background: #0250bc;
        color: #ffffff;
        text-decoration: none;
    }
    &:focus {
        border: 1px solid #0250bc;
        background: #0250bc;
        color: #ffffff;
        text-decoration: none;
    }
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}
  
.button--accent,
a.button--accent {
    color: #ffffff;
    border: 1px solid #ea777a;
    background: #ea777a;
    &:hover,
    &:active,
    &:focus,
    &:focus-visible,
    &:focus-within,
    &:target,
    &:visited {
        color: #ffffff;
        border: 1px solid #d26b6d;
        background: #d26b6d;
    }
}
  
.button--muted,
a.button--muted {
    background: transparent;
    border: 1px solid #cdcdcd;
    color: #4e4e4e;
    &:hover,
    &:active,
    &:focus,
    &:focus-visible,
    &:focus-within,
    &:target,
    &:visited {
        color: #4e4e4e;
        border: 1px solid #818181;
        background: white;
    }
}



/*
 *        input & placeholder
 */

input {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: .8rem;
    font-weight: 600;
    color: #4c4c4c;
}

::placeholder {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: .8rem;
    font-weight: 600;
    color: #818181;
}



/*
 *        categories
 */


    #category-621e38f2b4ec94005e78ecb1 { 
        color: #D696BB; 
        &+ .category__hover { background: #D696BB; }
    }
    #category-621e3904b4ec94005e78ecb5 { 
        color: #F6A6B2; 
        &+ .category__hover { background: #F6A6B2; }
    }
    #category-621e391bb4ec94005e78ecb9 { 
        color: #F7C297; 
        &+ .category__hover { background: #F7C297; }
    }
    #category-621f7d978ce05f1bd7e84351 { 
        color: #FA3C4C; 
        &+ .category__hover { background: #FA3C4C; }
    }
    #category-621f7dbe8ce05f1bd7e84352 { 
        color: #90D2D8; 
        &+ .category__hover { background: #90D2D8; }
    }
    #category-621f7e098ce05f1bd7e84354 { 
        color: #0084FF; 
        &+ .category__hover { background: #0084FF; }
    }
    #category-62210e868ce05f1bd7e84373 { 
        color: #44BEC7; 
        &+ .category__hover { background: #44BEC7; }
    }
    #category-62210eac8ce05f1bd7e84374 { 
        color: #FFC300; 
        &+ .category__hover { background: #FFC300; }
    }
    #category {
        &-621e38f2b4ec94005e78ecb1,
        &-621e3904b4ec94005e78ecb5, 
        &-621e391bb4ec94005e78ecb9, 
        &-621f7d978ce05f1bd7e84351,
        &-621f7dbe8ce05f1bd7e84352, 
        &-621f7e098ce05f1bd7e84354, 
        &-62210e868ce05f1bd7e84373, 
        &-62210eac8ce05f1bd7e84374 {
            &:hover { text-decoration: none; }
        }
    }
    .category__hover {
        display: none;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        margin: 4px auto 0;
    }
    .categories__item:hover .category__hover {
        display: block;
    }



/* 
 *      general layout
 */

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid; 
    grid-template-columns: 17vw repeat(2, 1fr); 
    grid-template-rows: 55px 1fr; 
    gap: 0; 
    grid-template-areas: 
        "navigation header aside"
        "navigation main main"; 
    text-transform: lowercase;
    background-color: #fafafa;
    padding: 20px;
    
}

#navigation { grid-area: 1 / 1 / 3 / 2; }
header { grid-area: 1 / 2 / 2 / 3; }
#aside { grid-area: 1 / 3 / 2 / 4; }
#main { grid-area: 2 / 2 / 3 / 4; }
#border { grid-area: 1 / 2 / 2 / 4; }

#border {
    border-bottom: 1px solid #cdcdcd;
}



/* 
 *      logotype
 */

#logotype {
    display: grid;
    align-content: center;
    padding: 0 15px;
    &:hover,
    &:active,
    &:focus,
    &:focus-visible,
    &:focus-within,
    &:target,
    &:visited { 
        text-decoration: none;
    }
    .logotype__link {
        height: 30px;
    }
    .user__welcome-msg {
        font-weight: 600;
        font-size: .9rem;
    }
    .user__pseudo {
        color: #fbd106;
    }
}



/*
 *      navigation
 */

#navigation {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    background: #d9d9d9;
    padding: 15px;
    .navigation__item {
        &--active {
            color: #4c4c4c;
            text-decoration: underline;
            text-decoration-line: overline;
            text-decoration-thickness: 3.5px;
            text-decoration-color: #fbd106;
            font-size: 1rem;
        }
        &--overline {
            &:hover,
            &:active,
            &:focus,
            &:focus-visible,
            &:focus-within,
            &:target,
            &:visited {
                color: #4c4c4c;
                text-decoration: underline;
                text-decoration-line: overline;
                text-decoration-thickness: 3.5px;
                text-decoration-color: #fbd106;
                font-size: 1rem;
            }
        }
        &--overline {
            &:hover,
            &:active,
            &:focus,
            &:focus-visible,
            &:focus-within,
            &:target,
            &:visited {
                a {
                    font-size: 1.2rem;
                    text-transform: lowercase;
                    text-decoration: none;
                    font-weight: 600;
                    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
                    line-height: 1.2;
                    color: #4c4c4c;
                }
            }
            a {
                font-size: 1.2rem;
                text-transform: lowercase;
                text-decoration: none;
                font-weight: 600;
                font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
                line-height: 1.2;
                color: #4c4c4c;
            }
        }
    }
}



/* 
 *      aside
 */

#aside {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
    .button {
        font-size: .8rem;
        padding: 0.7rem 1.5rem;
    }
}



/* 
 *      main
 */

#main {
    padding: 0 15px;
    overflow: auto;
    font-weight: 600;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #4c4c4c;
    line-height: 1.2;
    .main {
        &__content {
            text-align: center;
        }
        &__page-title-container {
            background-color: #fafafa;
        }
        &__page-title {
            text-transform: lowercase;
            margin: 0 0 1.5rem;
        }
        
    }
}



/*
 *      section + tables
 */

.section {
    margin: 2rem 0;
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    text-align: initial;
    &:last-child {
        margin: 3rem 0 0 0;
    }
    &:first-child {
        margin: 1.5rem 0 0 0;
    }
    &__title-block {
        display: flex;
        gap: 15px;
        align-items: center;
    }
    &__title {
        margin: 0;
        font-size: 1.7rem;
    }
    .button {
        font-size: 0.8rem;
        padding: 0.7rem 1.25rem;
    }
    &__content {
        display: flex;
        flex-flow: row nowrap;
        width: 65%;
        gap: 30px;
        align-items: baseline;
        &--full-width {
            width: 100%;
        }
    }
    &__graph-item {
        flex-basis: 50%;
        img {
            width: 100%;
            height: auto;
        }
        figcaption {
            font-size: .9rem;
            padding: 5px 0 0 0;
        }
    }
    &__table {
        border-collapse: collapse;
        &--full-width {
            width: 90%;
        }
        th {
            border-bottom: 1px solid #cdcdcd;  
            padding: 10px;      
        }
        .thead__title, 
        .tbody__title {
            width: auto;
            max-width: 400px;
            text-align: left;
        }
        .thead__date, 
        .tbody__date,
        .thead__categories, 
        .tbody__categories {
            width: 25%;
            text-align: left;
        }
        .thead__actions, 
        .tbody__actions {
            width: 10%;
            text-align: left;
        }
        .thead__parent-cat,
        .thead__nb-articles {
            font-size: .9rem;
            padding: 10px 20px;
        }
        .thead__parent-cat {
            text-align: left;
        }
        tbody {
            font-size: .8rem;
            tr {
                height: 25px;
                td {
                    padding: 0 10px;
                    .category {
                        padding: 0 5px 0 0;
                    }
                    .title--overflow {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .icon {
                        width: 20px;
                        margin: 0 3px;
                    }
                }
                .tbody__nb-articles {
                    text-align: center;
                }
            }
        }
    }
}