<nav id="navigation">
    <span class="navigation__item--overline <%= template === "homepage" ? "navigation__item--active" : "" %>">
        <a class="navigation__item</a>" href="/auth/homepage">Tableau de bord</a>
    </span>

    <span class="navigation__item--overline <%= template === "articles" ? "navigation__item--active" : "" %>">
        <a class="navigation__item</a>" href="/auth/articles">Articles</a>
    </span>
    
    <span class="navigation__item--overline <%= template === "categories" ? "navigation__item--active" : "" %>">
        <a class="navigation__item</a>" href="/auth/articles">Catégories</a>
    </span>

    <span class="navigation__item--overline <%= template === "quizzes" ? "navigation__item--active" : "" %>">
        <a class="navigation__item</a>" href="/auth/articles">Questionnaires</a>
    </span>
</nav>