<aside id="aside">

    <a id="button__account" class="button button--linkto button--muted" href="/auth/account">Mon compte</a>
            
    <a id="button__logout" class="button button--linkto button--muted" href="/auth/logout">Logout</a>

</aside>