* {
    /* font-family: monospace, monospace; */
    font-size: 1em;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font: normal normal normal 1rem/1.6 Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1rem;
}
  
body {
    color: #4c4c4c;
    background: white;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 1.5rem 0;
    font-weight: 600;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.2;
    color: #4c4c4c;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child) {
    margin: 1.5rem 0;
}
  
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
    margin-top: 2rem;
}

h1 { font-size: 1.75rem; }
h2 { font-size: 1.5rem; }  
h3 { font-size: 1.25rem; }  
h4 { font-size: 1.1rem; }  
h5 { font-size: 1rem; }

@media (min-width: 600px) {
    h1:not(:first-child),
    h2:not(:first-child),
    h3:not(:first-child) { margin-top: 2.5rem; }
    h1 { font-size: 2.25rem; }
    h2 { font-size: 2rem; }
    h3 { font-size: 1.75rem; }
    h4 { font-size: 1.5rem; }
    h5 { font-size: 1.25rem; }
}

a {
    color: #0366ee;
    text-decoration: none;
}
  
a:hover, 
a:active, 
a:focus {
    color: #0246a2;
    text-decoration: underline;
}

img {
    width: auto;
    height: 100%;
}

/*
 *        buttons
 */
.button, a.button, button, [type=submit], [type=reset], [type=button] {
    -webkit-appearance: none;
    display: inline-block;
    border: 1px solid #0366ee;
    border-radius: 4px;
    background: #0366ee;
    color: #ffffff;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    text-transform: none;
    padding: 0.75rem 1.25rem;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    line-height: 1;
}
  
.button:hover, a.button:hover, button:hover, [type=submit]:hover, [type=reset]:hover, [type=button]:hover {
    border: 1px solid #0250bc;
    background: #0250bc;
    color: #ffffff;
    text-decoration: none;
  }
  
.button:focus, .button:active, a.button:focus, a.button:active, button:focus, button:active, [type=submit]:focus, [type=submit]:active, [type=reset]:focus, [type=reset]:active, [type=button]:focus, [type=button]:active {
    border: 1px solid #0250bc;
    background: #0250bc;
    color: #ffffff;
    text-decoration: none;
}
  
.button::-moz-focus-inner, a.button::-moz-focus-inner, button::-moz-focus-inner, [type=submit]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=button]::-moz-focus-inner {
    border: 0;
    padding: 0;
}
  
.button--accent,
a.button--accent {
    color: #ffffff;
    border: 1px solid #ea777a;
    background: #ea777a;
}
  
.button--accent:hover, .button--accent:focus, .button--accent:active,
a.button--accent:hover,
a.button--accent:focus,
a.button--accent:active {
    color: #ffffff;
    border: 1px solid #d26b6d;
    background: #d26b6d;
}
  
.button--muted,
a.button--muted {
    background: transparent;
    border: 1px solid #cdcdcd;
    color: #4e4e4e;
}
  
.button--muted:hover, .button--muted:focus, .button--muted:active,
a.button--muted:hover,
a.button--muted:focus,
a.button--muted:active {
    color: #4e4e4e;
    border: 1px solid #818181;
    background: transparent;
}



/* 
 *      general layout
 */

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid; 
    grid-template-columns: 15vw 1fr; 
    grid-template-rows: 10vh 1fr 10vh; 
    gap: 0; 
    grid-template-areas: 
      "logotype aside-menu"
      "navigation main"
      "footer main"; 
}

#logotype { grid-area: logotype; }
#navigation { grid-area: navigation; }
#main { grid-area: main; }
#aside-menu { grid-area: aside-menu; }
#footer { grid-area: footer; }


/* 
 *      logotype
 */

#logotype {
    padding: 0 10px;
    display: grid;
    align-content: center;
}

#logotype h1 {
    font-size: 2rem;
    margin: 0;
}



/*
 *      navigation
 */

#navigation {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    padding: 10px;
}

#navigation .navigation__item--active, 
#navigation .navigation__item--overline:hover,
#navigation .navigation__item--overline:focus,
#navigation .navigation__item--overline:focus-visible,
#navigation .navigation__item--overline:focus-within,
#navigation .navigation__item--overline:visited,
#navigation .navigation__item--overline:target,
#navigation .navigation__item--overline:active {
    color: #4c4c4c;
    text-decoration: underline;
    text-decoration-line: overline;
    text-decoration-thickness: 3.5px;
    text-decoration-color: #fbd106;
    font-size: 1rem;
}

#navigation .navigation__item--overline a,
#navigation .navigation__item--overline:hover a,
#navigation .navigation__item--overline:focus a,
#navigation .navigation__item--overline:focus-visible,
#navigation .navigation__item--overline:focus-within a,
#navigation .navigation__item--overline:visited a,
#navigation .navigation__item--overline:target a,
#navigation .navigation__item--overline:active a {
    font-size: 1.2rem;
    text-transform: lowercase;
    text-decoration: none;
    font-weight: 600;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.2;
    color: #4c4c4c;
}



/* 
 *      aside-menu
 */

#aside-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding: 0 10px;
    font-weight: 600;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.2;
    color: #4c4c4c;
}

#aside-menu #site-search {
    width: 350px;
    height: 35px;
    display: grid; 
    grid-template-columns: 1fr 35px; 
    grid-template-rows: 35px; 
    gap: 0; 
    align-content: center; 
}
  
#aside-menu #site-search .search__input {
    grid-area: 1 / 1 / 2 / 3;
    padding: 0 35px 0 20px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid #cdcdcd;
    color: #4e4e4e;
    border-radius: 4px;
}

#aside-menu #site-search .search__input:hover,
#aside-menu #site-search .search__input:focus,
#aside-menu #site-search .search__input:focus-visible,
#aside-menu #site-search .search__input:focus-within,
#aside-menu #site-search .search__input:visited,
#aside-menu #site-search .search__input:target,
#aside-menu #site-search .search__input:active {
    color: #4e4e4e;
    border: 1px solid #818181;
    background: transparent;
    text-decoration: none;
    outline: none;
}

#aside-menu #site-search .search__button {
    grid-area: 1 / 2 / 2 / 3;
    width: 35px;
    height: 35px;
    padding: 5px;
    background: #ea777a;
    border: none;
}
#aside-menu #site-search .search__button, 
#aside-menu #site-search .search__button:hover,
#aside-menu #site-search .search__button:focus,
#aside-menu #site-search .search__button:active {
    background: #ea777a;
    border: none;
}

#aside-menu #site-search .search__input::placeholder {
    font-weight: 600;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.2;
}



/* 
 *      main
 */

#main {
    padding: 10px 20px;
    overflow: auto;
    font-weight: 600;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #4c4c4c;
    line-height: 1.2;
}

#main .main__content {
    text-align: center;
}

#main .main__page-title-container {
    width: 70%;
    padding: 0 15px;
    margin: 0 auto;
}

#main .main__page-title {
    text-transform: lowercase;
    margin: 0 0 1.5rem;
}

#main .articles__container {
    display: flex;
    flex-flow: row wrap;
    width: 70%;
    margin: 0 auto;
    gap: 20px;
    text-align: initial;
}

#main .articles__container .article__item {
    flex-basis: calc(50% - 10px);
    flex-grow: 0;
    padding: 15px 15px 0;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: minmax(24px, max-content) 1fr 30px;; 
    gap: 0; 
    grid-template-areas: 
        "title"
        "excerpt"
        "categories"; 
}

#main .articles__container .article__item:hover {
    text-decoration: none;
}

#main .articles__container .article__item .article__title {
    grid-area: title;
}

#main .articles__container .article__item:hover .article__title--no-overline {
    display: none;
}

#main .articles__container .article__item .article__title--no-overline {
    display: block;
}

#main .articles__container .article__item .article__title--overline {
    display: none;
}

#main .articles__container .article__item:hover .article__title--overline {
    display: block;
    text-decoration: underline;
    text-decoration-line: overline;
    text-decoration-thickness: 3.5px;
    text-decoration-color: #fbd106;
    font-size: 1.2rem;
}

#main h3 {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
    text-transform: lowercase;
}

#main .article__excerpt {
    grid-area: excerpt;
    color: #4c4c4c;
    font-size: 1rem;
}

#main .article__categories {
    grid-area: categories;
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    height: 30px;
    align-items: center;
}

#main .categories__item {
    color: #ea777a;
    font-size: .8rem;
}

#main .articles__show-all-container {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}