<aside id="aside-menu">
    <input type="search" id="site-search" name="search"
   aria-label="Rechercher parmi les articles" minlength="3" placeholder="Saisir le terme à rechercher">
    <button type="submit" class="button--submit">Rechercher</button>

    <div class="user__welcome-msg">Bienvenue, Fanfan&#8239;!</div>
    <div class="user__login">
        <button type="button" class="button--linkto">Login</button>/<button type="button" class="button--linkto">Sign-up</button>
    </div>
</aside>