/*
 *      categories
 */

#main {
    .categories {
        &__list {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-flow: row wrap;
            gap: 0 20px;
            width: 60%;
        }
        &__item {
            font-size: 1rem;
            height: 35px;
        }
    }
}