<body>
    <%- include('../main/_partials/_header.ejs') %>

    <main>
        <% for (const { index, name } of articles) { %>

            <div class="article__item">
                
            </div>

        <% } %>
    </main>

</body>