<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>
            Le Figara
        </title>
        <link rel="stylesheet" href="/css/reset.css" type="text/css">
        <link rel="stylesheet" href="/css/showcase.css" type="text/css">
    </head>

    <body>
        <%- include('../main/_partials/_header.ejs') %>
        <%- include('../main/_partials/_navigation.ejs') %>
        <%- include('../main/_partials/_aside.ejs') %>

        <main id="main">
            <section class="articles__container">
                    
                    <a class="article__item" id="1" href="">
                        <div class="article__title">
                            <span class="article__title--overline">
                                <h3>Le titre de l'article</h3>
                            </span>
                            <h3 class="article__title--no-overline">Le titre de l'article</h3>
                        </div>
                        <span class="article__title--overline"></span>
                        <h3 class="article__title">Le titre de l'article</h3>
                        <div class="article__excerpt">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus molestie massa sit amet rhoncus. Morbi ut metus et nulla accumsan posuere ut vel quam. Praesent ornare finibus velit non congue. Fusce quis felis id arcu mollis bibendum sed ut lorem.      
                        </div>
                        <ul class="article__categories">
                            <li class="categories__item">Smartphones</li>
                            <li class="categories__item">Jeux vidéos</li>
                            <li class="categories__item">Front-end</li>
                        </ul>
                    </a>

                    <a class="article__item" id="2" href="">
                        <h3 class="article__title">Le titre de l'article</h3>
                        <div class="article__excerpt">
                            Quisque faucibus interdum eros, nec ultrices sapien commodo vitae. Sed mauris nulla, tempor nec porttitor sed, tristique vel ipsum. Duis at ante volutpat, egestas mauris sed, posuere augue. Vivamus vehicula porttitor ante.
                        </div>
                        <ul class="article__categories">
                            <li class="categories__item">Smartphones</li>
                            <li class="categories__item">Jeux vidéos</li>
                            <li class="categories__item">Front-end</li>
                        </ul>
                    </a>

                    <a class="article__item" id="3" href="">
                        <h3 class="article__title">Le titre de l'article</h3>
                        <div class="article__excerpt">
                            Nunc accumsan blandit ligula, vitae tincidunt lectus efficitur porta. Nullam nec ultricies ex. Vestibulum semper commodo dictum. Nam ac ipsum vestibulum, scelerisque quam nec, vehicula libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                        </div>
                        <ul class="article__categories">
                            <li class="categories__item">Smartphones</li>
                            <li class="categories__item">Jeux vidéos</li>
                            <li class="categories__item">Front-end</li>
                        </ul>
                    </a>

                    <a class="article__item" id="4" href="">
                        <h3 class="article__title">Le titre de l'article</h3>
                        <div class="article__excerpt">
                            In sodales nunc eget turpis tristique, at commodo lectus ultrices. Vivamus justo lorem, imperdiet vel posuere et, pellentesque sollicitudin arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        </div>
                        <ul class="article__categories">
                            <li class="categories__item">Smartphones</li>
                            <li class="categories__item">Jeux vidéos</li>
                            <li class="categories__item">Front-end</li>
                        </ul>
                    </a>
        
            </section>

            <button id="articles__show-all" class="button--linkto">Voir tous les articles</button>
            
        </main>

        <%- include('../main/_partials/_footer.ejs') %>

    </body>
</html>