<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>
            Le Figara
        </title>
        <link rel="stylesheet" href="/css/reset.css" type="text/css">
        <link rel="stylesheet" href="/css/showcase.css" type="text/css">
    </head>

    <%- body %>
    <%- script %>

</html>