<div class="main__page-title-container">
    <h2 class="main__page-title">S'inscrire</h2>
</div>

<section class="main__content user__login">
    <form action="/auth/register" method="POST" class="user__form">
        <fieldset class="user__field user__error">
            <h5><%= error %></h5> 
        </fieldset>
        
        <fieldset class="user__field">
            <label for="pseudo">Pseudo&#8239;: </label>
            <input type="text" name="pseudo" min="3" id="pseudo" placeholder="Fanfan la Tulipe" />
        </fieldset>

        <fieldset class="user__field">
            <label for="mail">Email&#8239;:</label>
        <input type="email" name="mail" id="mail" placeholder="fanfan@latulipe.fr" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$" />
        </fieldset>

        <fieldset class="user__field">
            <label for="password">Mot de passe&#8239;: </label>
            <input  title="Le mot de passe doit comporter au moins six caractères, dont un chiffre, une minuscule, une majuscule et un caractère spécial." type="text" min="6" name="password" id="password" />
        </fieldset>
        
        <div class="user__submit">
            <button type="submit" value="Soumettre" class="button button--accent">Soumettre</button>
        </div>
    </form>         
</section>
