<section class="section">
    <article class="section__title-block">
        <a id="article__quick-add" class="button button--linkto button--muted" href="/auth/categories/new">Ajouter une catégorie</a>
    </article>

    <article class="section__content section__content--full-width">
        <table class="section__table section__table--full-width">
            <thead>
                <tr>
                    <th class="thead__title">Nom</th>
                    <th class="thead__actions">Actions</th>
                </tr>
            </thead>
            <tbody>

                <% for (const { _id, name } of categories) { %>
                    <tr>
                        <td class="tbody__title">
                            <div class="title--overflow" id="category-<%= _id %>"><%= name %></div>
                        </td>

                        <td class="tbody__actions">
                            <span title="Editer la catégorie" class="icon__clickable" id="editId" data-id="<%= _id %>">
                                <img class="icon icon__edit" src="../../images/icon__edit.svg" alt="Icone d'édition">
                            </span>
                            <span title="Supprimer la catégorie" class="icon__clickable" id="deleteId" data-id="<%= _id %>">
                                <img class="icon icon__delete" src="../../images/icon__delete.svg" alt="Icone de suppression">
                            </span>
                        </td>
                    </tr>
                <% } %>
                
            </tbody>
        </table>
    </article>
                    
</section>