<section class="section">
    <article class="section__title-block">
        <a id="article__quick-add" class="button button--linkto button--muted" href="/auth/categories/new">Ajouter une catégorie</a>
    </article>

    <article class="section__content section__content--full-width">
        <table class="section__table section__table--full-width">
            <thead>
                <tr>
                    <th class="thead__title">Nom</th>
                    <th class="thead__actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tbody__title">
                        <div class="title--overflow">La fiabilité de l'indice de réparabilité remise en question par l'association HOP</div>
                    </td>
                    <td class="tbody__actions">
                        <a href="/auth/articles/edit:id"><img class="icon icon__edit" src="../../images/icon__edit.svg" alt="Icone d'édition"></a>
                        <a href="/auth/articles/delete:id"><img class="icon icon__delete" src="../../images/icon__delete.svg" alt="Icone de suppression"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </article>
                    
</section>