<section class="section">
    <article class="section__title-block">
        <h2 class="section__title">Articles</h2>
        <a id="article__quick-add" class="button button--linkto button--muted" href="/admin/article/new">Ajouter un article</a>
    </article>

    <article class="section__content">
        <figure class="section__graph-item">
            <img src="../images/dashboard__graph--1.jpg" alt="Taux de clics sur les articles">
            <figcaption>Taux de clics sur les articles</figcaption>
        </figure>
        <figure class="section__graph-item">
            <img src="../images/dashboard__graph--2.jpg" alt="Articles les plus consultés">
            <figcaption>Articles les plus consultés</figcaption>
        </figure>
    </article>
                    
</section>

<section class="section">
    <article class="section__title-block">
        <h2 class="section__title">Catégories</h2>
        <a id="article__quick-add" class="button button--linkto button--muted" href="/auth/categories/new">Ajouter une catégorie</a>
    </article>

    <article class="section__content section__content--full-width">
        <table class="section__table section__table--w65">
            <thead>
                <tr>
                    <th class="thead__parent-cat">Nom de la catégorie</th>
                    <th class="thead__nb-articles">Nb. articles associés</th>
                </tr>
            </thead>
            <tbody>

                <% for (const { _id, name } of categories) { %> 
                    <tr>
                        <td class="tbody__parent-cat" id="category-<%= _id %>"><%= name %></td>
                        <td class="tbody__nb-articles">2</td>
                    </tr>
                <% } %> 

            </tbody>
        </table>

        <!-- <table class="section__table">
            <thead>
                <tr>
                    <th class="thead__parent-cat">Numérique</th>
                    <th class="thead__nb-articles">Nb. articles associés</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tbody__parent-cat" id="category-621e391bb4ec94005e78ecb9">Gaming</td>
                    <td class="tbody__nb-articles">2</td>
                </tr>
                <tr>
                    <td class="tbody__nb-articles" id="category-621e3904b4ec94005e78ecb5">Smartphones</td>
                    <td class="tbody__nb-articles">3</td>
                </tr>
                <tr>
                    <td class="tbody__parent-cat" id="category-621f7d978ce05f1bd7e84351">Réalité augmenté</td>
                    <td class="tbody__nb-articles">6</td>
                </tr>
                <tr>
                    <td class="tbody__parent-cat" id="category-621f7e098ce05f1bd7e84354">Objet connecté</td>
                    <td class="tbody__nb-articles">1</td>
                </tr>
            </tbody>
        </table> -->
    </article>
                    
</section>