<section class="section">
    <article class="section__title-block section__title-block--main">
        <label class="title__label" for="title">Titre de l'article&#8239;: </label>
        <input class="title__input" type="text" id="title" name="title" placeholder="La décélération de la croissance de Zoom se confirme" required minlength="3">
    </article>                    
</section>

<section class="section">
    <article class="section__title-block">
        <h2 class="section__title">Catégories</h2>
        <ul class="article__categories">

                <li class="categories__item category" id="category-62210e868ce05f1bd7e84373">Back-end</li>
                <li class="categories__item category" id="category-621f7dbe8ce05f1bd7e84352">Software</li>

        </ul>
    </article>

    <article class="section__content">
        <ul class="categories__list">
   
            <li class="choices__entry">
                <label class="custom-checkbox custom-checkbox--with-label categories__item">
                    <input type="checkbox" id="one" name="one" class="" value="one">
                    <span class="custom-checkbox--marker"></span>
                    <span id="category-621e38f2b4ec94005e78ecb1" class="custom-checkbox__label category">
                        Front-end
                    </span>
                </label>
            </li>
            <li class="choices__entry">
                <label class="custom-checkbox custom-checkbox--with-label categories__item">
                    <input type="checkbox" id="one" name="one" class="" value="one">
                    <span class="custom-checkbox--marker"></span>
                    <span id="category-621f7dbe8ce05f1bd7e84352" class="custom-checkbox__label category">
                        Software
                    </span>
                </label>
            </li>
            <li class="choices__entry">
                <label class="custom-checkbox custom-checkbox--with-label categories__item">
                    <input type="checkbox" id="one" name="one" class="" value="one">
                    <span class="custom-checkbox--marker"></span>
                    <span id="category-621f7e098ce05f1bd7e84354" class="custom-checkbox__label category">
                        Objet connecté
                    </span>
                </label>
            </li>

        </ul>
    </article>
                    
</section>

<section class="section">
    <article class="section__title-block">
        <h2 class="section__title">Corps de l'article</h2>
    </article>

    <article class="section__content section__content--medium-height">
        <textarea class="section__textarea" name="article__content" id="article__content" spellcheck="flase">Cras justo nisl, faucibus rhoncus tincidunt ac, semper sed velit. Cras malesuada libero sit amet aliquam tincidunt. Quisque sed quam commodo, sollicitudin est sed, dapibus ipsum. Curabitur id magna ut dolor venenatis vestibulum vitae et est. Quisque rhoncus libero vitae efficitur lobortis. Nullam vestibulum nisi sed quam ornare venenatis. Duis et porta odio, sed posuere erat. Curabitur eget fringilla augue. In hac habitasse platea dictumst.Nulla turpis felis, posuere non eros at, aliquet aliquet purus. Maecenas pretium venenatis magna, nec sollicitudin lorem pretium eget. Sed tristique quam aliquet ante ullamcorper, non lacinia erat dignissim. Donec urna eros, cursus cursus felis vitae, faucibus accumsan sem. Praesent auctor in elit aliquam auctor. Nam vulputate odio vel auctor rhoncus. Fusce in dolor in ipsum placerat dignissim nec in diam. Nullam velit enim, interdum vel urna et, lacinia dictum felis. Donec id neque tortor. Pellentesque ante sem, sodales at sollicitudin vitae, interdum at dolor. Curabitur euismod imperdiet sapien vitae cursus.</textarea>
    </article>
                    
</section>

<section class="section">
    <article class="section__title-block">
        <h2 class="section__title">Questionnaires</h2>
    </article>

    <article class="section__content">
        <ul class="quizzes__list">
   
            <li class="choices__entry">
                <label class="custom-checkbox custom-checkbox--with-label categories__item">
                    <input type="checkbox" id="one" name="one" class="" value="one">
                    <span class="custom-checkbox--marker"></span>
                    <span class="custom-checkbox__label">
                        Question blablabla&#8239;?
                    </span>
                </label>
            </li>
            <li class="choices__entry">
                <label class="custom-checkbox custom-checkbox--with-label categories__item">
                    <input type="checkbox" id="one" name="one" class="" value="one">
                    <span class="custom-checkbox--marker"></span>
                    <span class="custom-checkbox__label">
                        Question blablabla&#8239;?
                    </span>
                </label>
            </li>
            <li class="choices__entry">
                <label class="custom-checkbox custom-checkbox--with-label categories__item">
                    <input type="checkbox" id="one" name="one" class="" value="one">
                    <span class="custom-checkbox--marker"></span>
                    <span class="custom-checkbox__label">
                        Question blablabla&#8239;?
                    </span>
                </label>
            </li>
            <li class="choices__entry">
                <label class="custom-checkbox custom-checkbox--with-label categories__item">
                    <input type="checkbox" id="one" name="one" class="" value="one">
                    <span class="custom-checkbox--marker"></span>
                    <span class="custom-checkbox__label">
                        Question blablabla&#8239;?
                    </span>
                </label>
            </li>

        </ul>
    </article>
                    
</section>